<div class="content-card mb-4">
    <h5>Inspection Steps</h5>

    <div class="list-group">

        <a href="{% url 'pool_information' inspection.id %}" class="list-group-item list-group-item-action">
            1. Pool Information
        </a>

        <a href="{% url 'water_analysis' inspection.id %}" class="list-group-item list-group-item-action">
            2. Water Analysis
        </a>

        <a href="{% url 'return_main_drain' inspection.id %}" class="list-group-item list-group-item-action">
            3. Return & Main Drain
        </a>

        <a href="{% url 'pool_features' inspection.id %}" class="list-group-item list-group-item-action">
            4. General Pool Features
        </a>

        <a href="{% url 'skimmer_box' inspection.id %}" class="list-group-item list-group-item-action">
            5. Skimmer Box
        </a>

        <a href="{% url 'light_inspection' inspection.id %}" class="list-group-item list-group-item-action">
            6. Lights
        </a>

        <a href="{% url 'filter_inspection' inspection.id %}" class="list-group-item list-group-item-action">
            7. Filter
        </a>

        <a href="{% url 'pump_inspection' inspection.id %}" class="list-group-item list-group-item-action">
            8. Pump
        </a>

        <a href="{% url 'chlorinator_inspection' inspection.id %}" class="list-group-item list-group-item-action">
            9. Salt Chlorinator
        </a>

        <a href="{% url 'spa_blower_inspection' inspection.id %}" class="list-group-item list-group-item-action">
            10. Spa Blower
        </a>

        <a href="{% url 'cleaning_equipment' inspection.id %}" class="list-group-item list-group-item-action">
            11. Cleaning Equipment
        </a>

        <a href="{% url 'fencing_inspection' inspection.id %}" class="list-group-item list-group-item-action">
            12. Fencing
        </a>

        <a href="{% url 'inspection_summary' inspection.id %}" class="list-group-item list-group-item-action">
            13. Summary
        </a>

    </div>
</div>
<!-- <div class="content-card mb-4">

    <h5>Inspection Progress</h5>

    <div class="list-group">

        <a href="{% url 'pool_information' inspection.id %}"
           class="list-group-item list-group-item-action">
            1. Pool Information
        </a>

        <a href="{% url 'water_analysis' inspection.id %}"
           class="list-group-item list-group-item-action">
            2. Water Analysis
        </a>

        <a href="{% url 'return_main_drain' inspection.id %}"
           class="list-group-item list-group-item-action">
            3. Return & Main Drain
        </a>

        <a href="{% url 'pool_features' inspection.id %}"
           class="list-group-item list-group-item-action">
            4. General Pool Features
        </a>
        <a href="{% url 'skimmer_box' inspection.id %}"
            class="list-group-item list-group-item-action">
            5. Skimmer Box
        </a>
        <a href="{% url 'light_inspection' inspection.id %}"
        class="list-group-item list-group-item-action">
            6. Lights
        </a>

        

    </div>

</div> -->